.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #0f172a;
  padding: 1rem 2rem;
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: white;
}

.logo {
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
}

.nav-links {
  display: flex;
  gap: 18px;
  align-items: center;
}

.nav-links a {
  color: #e2e8f0;
  text-decoration: none;
}

.nav-links a:hover {
  color: white;
}