.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    background:#2563EB;
    padding:15px 40px;
}

.navbar h2{
    color:white;
}

.nav-links{
    display:flex;
    gap:20px;
}

.nav-links a{
    color:white;
    text-decoration:none;
    font-weight:bold;
}

.nav-links a:hover{
    color:yellow;
}