/* Login page */
*{
  background-color: #08f3df;
}

.login-page {
  min-height: calc(100vh - 75px);

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 40px 20px;

  background: #f4f6f9;
}


/* Login box */

.login-box {
  width: 100%;
  max-width: 520px;

  padding: 40px;

  background: #ffffff;

  border-radius: 12px;

  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);

  box-sizing: border-box;
}


/* Heading */

.login-box h1 {
  text-align: center;

  margin-bottom: 30px;

  color: #111827;

  font-size: 36px;
}


/* Form */

.login-box form {
  display: flex;

  flex-direction: column;

  gap: 18px;
}


/* Input fields */

.login-box input,
.login-box select{
  width: 100%;

  padding: 15px;

  box-sizing: border-box;

  border: 1px solid #cbd5e1;

  border-radius: 6px;

  font-size: 16px;

  outline: none;

  transition: 0.3s;
}


/* Input focus */

.login-box input:focus {
  border-color: #0d6efd;

  box-shadow: 0 0 0 3px rgba(13, 110, 253, 0.15);
}


/* Login button */

.login-box button {
  width: 100%;

  padding: 15px;

  margin-top: 5px;

  border: none;

  border-radius: 6px;

  background: #0d6efd;

  color: white;

  font-size: 17px;

  cursor: pointer;

  transition: 0.3s;
}


/* Button hover */

.login-box button:hover {
  background: #084298;
}


/* Error message */

.error-message {
  padding: 12px;

  margin-bottom: 15px;

  text-align: center;

  color: #dc3545;

  background: #ffe5e5;

  border-radius: 6px;

  font-size: 15px;
}


/* Mobile responsive */

@media (max-width: 600px) {

  .login-page {
    padding: 20px;
  }

  .login-box {
    padding: 25px;
  }

  .login-box h1 {
    font-size: 28px;
  }

}