/* Main page */
*{
  background-color: #08f3df;
}

.register-page {
  min-height: calc(100vh - 75px);

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 40px 20px;

  background: #f4f6f9;
}


/* Registration box */

.register-box {
  width: 100%;
  max-width: 600px;

  padding: 40px;

  background: white;

  border-radius: 12px;

  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
}


/* Heading */

.register-box h1 {
  text-align: center;

  margin-bottom: 30px;

  color: #111827;

  font-size: 34px;
}


/* Form */

.register-box form {
  display: flex;

  flex-direction: column;

  gap: 18px;
}


/* Inputs and Select */

.register-box input,
.register-box select {
  width: 100%;

  padding: 15px;

  font-size: 16px;

  border: 1px solid #cbd5e1;

  border-radius: 6px;

  outline: none;

  box-sizing: border-box;

  background: white;
}


/* Input focus */

.register-box input:focus,
.register-box select:focus {
  border-color: #0d6efd;

  box-shadow: 0 0 0 2px rgba(13, 110, 253, 0.15);
}


/* Select */

.register-box select {
  cursor: pointer;

  color: #333;
}


/* Register button */

.register-box button {
  width: 100%;

  padding: 15px;

  margin-top: 5px;

  border: none;

  border-radius: 6px;

  background: #0d6efd;

  color: white;

  font-size: 17px;

  cursor: pointer;

  transition: 0.3s;
}


/* Button hover */

.register-box button:hover {
  background: #084298;
}


/* Error message */

.error-message {
  padding: 10px;

  margin-bottom: 15px;

  text-align: center;

  color: #dc3545;

  background: #ffe5e5;

  border-radius: 5px;

  font-size: 15px;
}


/* Mobile responsive */

@media (max-width: 600px) {

  .register-box {
    padding: 25px;
  }

  .register-box h1 {
    font-size: 26px;
  }

}